.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    color: black;
}
.conteudo li{
    list-style: none;
}
header{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
    color: #fff;
    font-size: 24px;
}
input{
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    background: #c4c4c4;
    margin-top: 1rem;
    width: 250px;
    border: none;
    outline: none;
}
input:hover{
    border: 1px solid rgba(0, 164, 214, 0.692);
}
input:focus{
    border: 1px solid rgba(0, 164, 214, 0.692);

}
h3{
    margin-top: 5px;
}

.pagination{
    display: flex;
    list-style: none;
}

.pagination li +li{
    margin-left: 10px;
}

.pagination__item--active{
    background: none;
    font-weight: bold;
    border: none;
}